{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container form_box" style="max-width: 400px;">
    <h1 class="form-title">Forgot your password?</h1>
    <p class="mb-5">Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark">Change Password</button>
        <p>Remember password? <a href="{% url 'login' %}" class="register-link">Login</a></p>
    </form>
</div>
<style>
    .form_box {
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: 0px 0px 5px rgb(141, 141, 141);
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
    }

    .form-title {
        display: flex;
        justify-content: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .login-form {
        display: grid;
        gap: 15px;
    }
    .form-group {
        display: flex;
        flex-direction: column;
    }
    label {
        margin-bottom: 5px;
        font-weight: bold;
    }
    input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
{% endblock %}




