{% extends "base.html" %}
{% block content %}

<div class="container form_box">
    <h1 class="form-title">Password reset Complete!</h1>
    <p class="login-form">Your Password has been set, you may go and log in now.</p>
    <a href="{% url 'login' %}" class="btn btn-dark mt-3">Login</a>
</div>
<style>
    .form_box {
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: 0px 0px 5px rgb(141, 141, 141);
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
    }

    .form-title {
        display: flex;
        justify-content: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .login-form {
        display: grid;
        gap: 15px;
    }
</style>

{% endblock content %}

