{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="text-center mb-4 mt-4">About Us</h1>
        <hr>
        <p style="text-align: center;">Welcome to Al Malik, your exclusive gateway to the premium products offered by Nida Trading in Pakistan.</p>
        <p style="text-align: center;">As the sole agent, we take pride in representing Nida Trading, a reputable name synonymous with quality and excellence. </p>
        <p style="text-align: center;">Explore a diverse range of offerings and experience unparalleled service as we bring you the best from Pakistan through our exclusive partnership with Nida Trading.</p>
    </div>
</div>

<style>
    .container_about_us {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px grey;
        padding: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h2 {
        color: #343a40;
    }

    p {
        color: #495057;
        margin-bottom: 15px;
        line-height: 1.8;
    }
</style>

{% endblock content %}
