{% extends 'base.html' %}
{% block content %}

<style>
    .returnsection > li, p, ul {
        padding: 10px;
    }
</style>
<div class="mt-5 mb-5 pb-3 pt-2 returnsection" style="background-color: white; box-shadow: 0px 0px 5px grey; max-width: 900px; margin: auto;">
    <h1 class="mb-4 text-center first">Return Policy</h1>
    <p>We understand that sometimes things don't work out as expected. Our return policy is designed to make the process as smooth as possible for you.</p>    

    <h4 class="mt-4 text-center">Eligibility for Returns</h4>
    <ul>
        <li>Items must be in the same condition as received, unworn or unused, with tags, and in the original packaging.</li>
        <li>Include the receipt or proof of purchase with your return.</li>
    </ul>

    <h4 class="mt-4 text-center">Initiating a Return</h4>
    <p>If you need to return an item, please contact us at <a href="mailto:info@usa.nidatradings.com ">info@usa.nidatradings.com </a></p>
    <p>Upon acceptance, we'll provide a return shipping label and instructions for sending your package. Unauthorized returns will not be accepted.</p>
    <p>For any return-related inquiries, feel free to reach out to us at <a href="mailto:info@usa.nidatradings.com ">info@usa.nidatradings.com </a>.</p>

    <h4 class="mt-4 text-center">Damages and Issues</h4>
    <p>Please inspect your order upon arrival. If the item is defective, damaged, or if you receive the wrong item, contact us immediately. We'll assess the issue and make it right.</p>

    <h4 class="mt-4 text-center">Exceptions / Non-returnable Items</h4>
    <p>Certain items cannot be returned, including perishable goods, custom products, and personal care items. We also cannot accept returns for hazardous materials, flammable liquids, or gases. If unsure, contact us for clarification. Unfortunately, sale items or gift cards are non-returnable.</p>

    <h4 class="mt-4 text-center">Refund Policy for Scented Candles</h4>
    <p>If you discover defects in scented candles, they should not be lighted. Once a candle is lit, it cannot be returned. Please carefully inspect your scented candles upon receipt to ensure they meet your expectations.</p>

    <h4 class="mt-4 text-center">Exchanges</h4>
    <p>To get the item you want promptly, return the current item. Once the return is accepted, make a separate purchase for the new item.</p>

    <h4 class="mt-4 text-center">Refunds</h4>
    <p>We'll notify you upon receiving and inspecting your return. If approved, you'll be automatically refunded to your original payment method within 10 business days. Keep in mind that your bank or credit card company may require additional time to process the refund. If it's been more than 15 business days since approval, contact us at <a href="mailto:info@usa.nidatradings.com ">info@usa.nidatradings.com </a>.</p>
</div>
<style>
    h4 {
        margin-bottom: 15px;
    }
</style>
{% endblock content %}
